{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hi{% endblocktranslate %} {{ user.get_username }},

{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at MIDA Labeling System.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
    http://bus.midalab.net{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The MIDA Labeling System team{% endblocktranslate %}

{% endautoescape %}
